/* 
Formated in this order
1. Div styles (flex box grid layouts)
2. Introduction div
3. History styles for that section
4. MarioKart game section styles
5. Competetive Anaysis section styles
6. Extra styles (images etc.)

Note: or just add them anywhere
*/

@font-face {
    font-family: gamingFont;
    src: url(./fonts/venite-adoremus-font/VeniteAdoremus-rgRBA.ttf);
}

@font-face {
    font-family: gamingFontStraight;
    src: url(./fonts/venite-adoremus-font/VeniteAdoremusStraight-Yzo6v.ttf);
}

@font-face {
    font-family: gamingTechnoRace;
    src: url(./fonts/techno-race-italic-font/TechnoRaceItalic-eZRWe.otf);
}

body {
    font-family: gamingFontStraight;
    padding: 10px;
    font-weight: 400;
}

.main-container {
    width: 100%;
    margin: auto;

    .topTitle {
        font-size: 45px;
    }

    .titleDiv {
        display: block;
        position: relative;
        z-index: 10;
        height: 550px;
        opacity: 0;
        transition: all 1s ease-in;

        .img-title {
            position: absolute;
            width: 800px;
            height: auto;
            top: 200px;
            left: 610px;
        }

        .img1 {
            position: absolute;
            width: 375px;
            height: auto;
            top: 170px;
            left: 0px;
        }

        .img2 {
            position: absolute;
            width: 375px;
            height: auto;
            top: 170px;
            right: 0px;
        }

        .authorsList {
            display: block;
            margin-top: 20px;
            font-style: normal;
            font-size: 24px;
            text-align: center;
            background: -webkit-linear-gradient(#b50100 10%, #000000 30%, #b50100 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .titleDiv.fade-in {
        opacity: 1;
    }

    .introDiv {
        .standardParagraph {
            opacity: 0;
            transition: all 1s ease-in;
        }

        .standardParagraph.fade-in {
            opacity: 1;
        }
    }


    .historyDiv {
        display: grid;
        opacity: 0;
        transition: all 1s ease-in;

        #div_scatterplot {
            opacity: 0;
            width: 1000px;
            margin: auto;
            transition: all 1s ease-in;
        }

        #div_scatterplot.fade-in {
            opacity: 1;
        }
    }

    .historyDiv.fade-in {
        opacity: 1;
    }

    .mario-kart-game-play-mechanics-div {
        opacity: 0;
        transition: all 1s ease-in;
    }

    .mario-kart-game-play-mechanics-div.fade-in {
        opacity: 1;
    }

    .competitiveDiv {
        margin-top: -500px;
        opacity: 0;
        transition: all 1s ease-in;
    }

    .competitiveDiv.fade-in {
        opacity: 1;
    }

    #hiddenStatsExplanation {
        opacity: 0;
        transition: all 1s ease-in;
        margin-top: 50px;

        li {
            margin-top: 20px;
            text-align: justify;
            margin-left: 240px;
            margin-right: 240px;
            font-family: gamingFontStraight;
            font-size: 25px;
            letter-spacing: 4px;
            font-weight: 50;
            font-style: normal;
        }
    }

    #hiddenStatsExplanation.fade-in {
        opacity: 1;
    }

    #itemDistribution {
        opacity: 0;
        transition: all 1s ease-in;
    }

    #itemDistribution.fade-in {
        opacity: 1;
    }

    #itemExplanation {
        margin-top: 30px;
        opacity: 0;
        transition: all 1s ease-in;
    }

    #itemExplanation.fade-in {
        opacity: 1
    }
}

.wrChartDiv {
    display: grid;
    place-items: center;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 2px;
    text-align: center;
    background: -webkit-linear-gradient(#b50100 10%, #000000 30%, #b50100 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    text-align: justify;
    margin-left: 240px;
    margin-right: 240px;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    font-style: normal;
    background: -webkit-linear-gradient(#b50100 10%, #000000 30%, #b50100 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    position: relative;
    border: 2px solid #5b6066;
    border-radius: 5px;
    z-index: -1;
}