.header
{
    width: 100%;
    justify-content: center;
    text-justify: center;
    text-align: center;
}

.text1
{
    width: 100%;
    justify-content: center;
    text-justify: center;
    text-align: center;
}
.vis1div
{

}
.vis2div
{
    
}
h1
{

}