.ysiriwar_main_container {

    .ysiriwar_select_type_control_panel {
        display: block;
        width: 1650px;
        margin-top: 20px;
        margin-bottom: 20px;

        div {
            width: fit-content;
            text-align: center;
            margin: auto;
            font-family: gamingFontStraight;
            font-size: 20px;
            color: white;

            label {
                margin-right: 10px;
                background: -webkit-linear-gradient(#b50100 10%, #000000 30%, #b50100 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .ysiriwar_select_type {
                display: inline-block;
                width: 290px;
                font-size: 20px;
                cursor: pointer;
                color: #5b6066;
                border: 3px solid black;
                border-radius: 20px 10px 20px 10px;
            }
        }

    }

    .ysiriwar_kart_attr_container {
        visibility: hidden;
        position: absolute;
        left: 30px;
        top: 170px;
        width: 1610px;
        height: 1000px;
        font-size: 45px;
        font-family: gamingFont;
        opacity: 0;
        border: 1px solid rgb(12, 9, 9);
        border-radius: 70px 20px 70px 20px;
        box-shadow: 7px 5px 5px rgb(10, 9, 9);
        background: #000000;
        z-index: -1;

        .ysiriwar_kart_container {
            display: flex;
            flex-wrap: wrap;
            padding-top: 20px;
            padding-bottom: 20px;

            .ysiriwar_kart_img {
                transition: transform 0.5s ease;
                margin-left: 30px;
                margin-bottom: 15px;
            }

            .ysiriwar_kart_img:hover {
                cursor: pointer;
                transform: scale(1.4);
            }
        }

        .ysiriwar_kart_stats_svg {

            g path,
            g line {
                stroke: #e3f0f6;
                stroke-width: 3px;
            }

            g text {
                stroke: #000000;
                stroke-width: 0.5px;
                color: #f2ce08;
                font-size: 30px;
                font-family: gamingTechnoRace;
            }

            .ysiriwar_background_rect {
                stroke: #e3f0f6 !important;
                stroke-width: 4px;
            }

            .bar {
                stroke: #e3f0f6;
                stroke-width: 2px;
            }

            .seperators {
                stroke: #e3f0f6 !important;
            }
        }

        .ysiriwar_mk_background_3 {
            display: block;
            width: 935px;
            height: 995px;
            position: absolute;
            z-index: -1;
            opacity: 0.9;
            background-image: url(/images/ysiriwar/mario6.jpg);
            /* -webkit-transform: scaleX(-1);
            transform: scaleX(-1); */
            background-size: 1150px 990px;
            background-repeat: no-repeat;
            border: 3px solid #000000;
            border-radius: 50px 20px 70px 20px;
        }

        .ysiriwar_selected_kart_container {
            display: block;
            width: 950px;
            margin-top: 20px;
            height: 80px;

            div {
                display: block;
                margin: auto;
                width: fit-content;
                color: #f7eed1;
            }

            .selected_kart_img {
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .active {
        transform: scale(1.4);
    }
}