@font-face {
    font-family: gamingFont;
    src: url(/fonts/venite-adoremus-font/VeniteAdoremus-rgRBA.ttf);
}

@font-face {
    font-family: gamingFontStraight;
    src: url(/fonts/venite-adoremus-font/VeniteAdoremusStraight-Yzo6v.ttf);
}

@font-face {
    font-family: gamingTechnoRace;
    src: url(/fonts/techno-race-italic-font/TechnoRaceItalic-eZRWe.otf);
}

body {
    padding: 0;
    margin: 0;
    transform: scale(0.83);
    background: linear-gradient(0.75turn, #03b0e9 0%, #b50100 30%, #000000 60%, #03b0e9 110%);
}

.ysiriwar_main_container {

    .ysiriwar_select_type_control_panel{
        display: block;
        width: 1650px;
        margin-top: 30px;
        margin-bottom: 30px;

        div {
            width: fit-content;
            text-align: center;
            margin: auto;
            font-family: gamingFontStraight;
            font-size: 25px;
            color: white;

            label {
                margin-right: 10px;
                color: aliceblue;
            }

            .ysiriwar_select_type {
                display: inline-block;
                width: 290px;
                font-size: 25px;
                cursor: pointer;
            }
        }

    }

    .ysiriwar_kart_attr_container {
        visibility: hidden;
        position: absolute;
        left:0;
        top:108;
        width: 1650px;
        height: 1000px;
        font-size: 45px;
        font-family: gamingFont;
        opacity: 0;
        border: 1px solid white;
        border-radius: 70px 20px 70px 20px;
        box-shadow: 7px 5px 5px rgb(10, 9, 9);

        .ysiriwar_kart_container {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;

            .ysiriwar_kart_img {
                transition: transform 0.5s ease;
                margin-left: 35px;
                margin-bottom: 15px;
            }

            .ysiriwar_kart_img:hover {
                cursor: pointer;
                transform: scale(1.4);
            }
        }

        .ysiriwar_kart_stats_svg {

            g path,
            g line {
                stroke: #e3f0f6;
                stroke-width: 3px;
            }

            g text {
                stroke: #000000;
                stroke-width: 0.5px;
                color: #f2ce08;
                letter-spacing: 3px;
                font-size: 25px;
                font-family: gamingTechnoRace;
            }

            .ysiriwar_background_rect {
                stroke: #e3f0f6 !important;
                stroke-width: 4px;
            }

            .bar {
                stroke: #e3f0f6;
                stroke-width: 2px;
            }

            .seperators {
                stroke: #e3f0f6 !important;
            }
        }

        .ysiriwar_mk_background_3 {
            display: block;
            width: 952px;
            height: 995px;
            position: absolute;
            z-index: -1;
            opacity: 0.8;
            background-image: url(/images/mario6.jpg);
            /* -webkit-transform: scaleX(-1);
            transform: scaleX(-1); */
            background-size: 1150px 990px;
            background-repeat: no-repeat;
            border: 3px solid #000000;
            border-radius: 50px 20px 70px 20px;
        }

        .ysiriwar_selected_kart_container {
            display: block;
            width: 950px;
            margin-top: 20px;
            height: 80px;

            div {
                display: block;
                margin: auto;
                width: fit-content;
                color: #f7eed1;
            }

            .selected_kart_img {
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .active {
        transform: scale(1.4);
    }
}