.bargraph_svg_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 1em;
  border-radius: 1em;
  box-shadow: black 0em 0.5em 1em;
  width: 1200px;
  margin: 60px auto;
  color: white;
  fill: white;
  opacity: 0;
  transition: all 1s ease-in;
}

.bargraph_svg_container.fade-in {
  opacity: 1;
}
