.ysiriwar_main_container {
    position: relative;
    display: block;
    margin: auto;
    width: 1660px;
    font-family: gamingFont;
    transform: scale(0.9);
    margin-top: -525px;
    /* padding-top: 20px; */
    /* border: 5px solid rgb(255, 243, 243);
    border-radius: 70px 20px 70px 20px; */
    /* background: linear-gradient(0.75turn, #03b0e9 0%, #b50100 20%, #000000 60%, #03b0e9 125%); */

    .ysiriwar_heading_container {
        width: 1275px;
        margin: auto;
        margin-bottom: 25px;
        font-size: 25px;
        font-family: gamingFont;
        text-align: center;
        background: -webkit-linear-gradient(#b50100 10%, #000000 30%, #b50100 100%);
        /* background: -webkit-linear-gradient(#9b2828 10%, #f0ed28 30%, #05b3f8 90%); */
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
        transition: all 1s ease-in;
    }

    .ysiriwar_character_attr_container {
        position: absolute;
        margin: auto;
        left: 30px;
        top: 170px;
        width: 1610px;
        height: 1000px;
        font-size: 45px;
        font-family: gamingFont;
        border: 1px solid rgb(12, 9, 9);
        z-index: -1;
        border-radius: 70px 20px 70px 20px;
        box-shadow: 7px 5px 5px rgb(10, 9, 9);
        background: #000000;
        opacity: 0;
        transition: all 1s ease-in;
        transform: scale(0.9);
        /* background: linear-gradient(0.75turn, #fcfeff 0%, #b50100 20%, #000000 50%, #f0f6f8 100%); */

        .ysiriwar_character_container {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            /* background: linear-gradient(0.75turn, #000000 0%, #b50100 20%, #000000 50%, #000000 100%); */


            .ysiriwar_character_img {
                transition: transform 0.5s ease;
                margin-left: 15px;
                margin-bottom: 25px;
            }

            .ysiriwar_character_img:hover {
                cursor: pointer;
                transform: scale(1.5);
            }
        }

        .ysiriwar_character_stats_svg {

            g path,
            g line {
                stroke: #e3f0f6;
                stroke-width: 3px;
            }

            g text {
                stroke: #000000;
                stroke-width: 0.5px;
                color: #f2ce08;
                font-size: 30px;
                font-family: gamingTechnoRace;
            }

            .ysiriwar_background_rect {
                stroke: #e3f0f6 !important;
                stroke-width: 4px;
            }

            .bar {
                stroke: #e3f0f6;
                stroke-width: 2px;
            }

            .seperators {
                stroke: #e3f0f6 !important;
            }
        }

        .ysiriwar_mk_background_2 {
            display: block;
            width: 935px;
            height: 995px;
            position: absolute;
            z-index: -1;
            opacity: 1;
            background-image: url(../images/ysiriwar/mushroom1.jpg);
            
            background-size: cover;
            border: 3px solid #000000;
            border-radius: 50px 20px 70px 20px;
        }

        .ysiriwar_selected_character_container {
            display: block;
            width: 950px;
            margin-top: 20px;
            height: 80px;

            div {
                display: block;
                margin: auto;
                width: fit-content;
                color: #f7eed1;
            }

            .selected_character_img {
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .ysiriwar_heading_container.fade-in {
        opacity: 1;
    }

    .ysiriwar_character_attr_container.fade-in {
        opacity: 1;
    }

    .active {
        transform: scale(1.5);
    }
}

.ysiriwar_tooltip_horizontal_stats {
    position: absolute;
    visibility: hidden;
    z-index: 1;
    background-color: black;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    color: #f9eca5;
    font-size: 30px;
    font-family: gamingTechnoRace;
    border: 2px solid #970000;
    border-radius: 20px 10px 20px 10px;
}

.ysiriwar_main_stats_explanation {
    display: block;
    background: -webkit-linear-gradient(#b50100 10%, #000000 30%, #b50100 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    ul {
        text-align: justify;
        margin-left: 240px;
        margin-right: 240px;
        font-family: "Open Sans", sans-serif;
        font-size: 25px;
        letter-spacing: 4px;
        font-weight: 50;
        font-style: normal;
    
        li {
            margin-top: 20px;
        }
    
        strong {
            font-weight: 500
        }
    }
}